@page
@model IndexModel
@{
<div class="text-center">
    <div class="row mb-5"></div>
    <div class="row mb-5"></div>
    <div class="row mb-5"></div>
    <h2>Proszę podać liczbę.</h2>
    <div class="row mb-3"></div>
    <form method="post">
        <input asp-for="FizzBuzz.Number" /><br />
        <h6><span asp-validation-for="FizzBuzz.Number" class="text-danger"></span></h6>
        <div class="row mb-3"></div>
        <button type="submit" class="btn btn-primary">Zatwierdź</button>
    </form>
    <div class="row mb-3"></div>
    @if (Model.FizzBuzz != null)
    {
        if (Model.FizzBuzz.Number == null || Model.FizzBuzz.Number < 0 || Model.FizzBuzz.Number > 1000) ;
        else if (Model.FizzBuzz.Result == "Brak")
        {
            <p>Liczba @Model.FizzBuzz.Number nie spełnia kryteriów Fizz/Buzz. </p>
        }
        else
        {
            <p>Otrzymano: @Model.FizzBuzz.Result.</p>
        }
    }
</div>
}